<div class="parent">
    <div class="bg1">
        <div class="heading">
          <h3 style="color: #fff;font-size: 22px;">Flipkart</h3>
          <small style="color: #fff; ">Explore <strong style="color: yellow;">Plus</strong></small>
        </div>
        <div class="searchbox">
          <input type="text" placeholder="Search for products, brands and more" #value>
          <img class="search-icon" [src]=icons.search alt=""(click)="passValue(value.value)">
        </div>
        </div>
        <div class="navelem">
          <ul class="list-group">
            <li class="list-group-item">
             <div class="dropdown" (mouseenter)="isitClicked()">
               <button class="dropbtn">
                 Vivek⮟
               </button>
               <div *ngIf="clicked" (click)="negate()" (mouseleave)="isitClicked()" class="pfix">
               <div class="dropdown-content" *ngFor="let data of dropdownContent">
                 <a>{{data.content}}</a>
               </div>
              </div>
             </div>
            </li>
            <li class="list-group-item" >More</li>
            <li class="list-group-item" (click)="routetocart()">Cart</li>
            <li class="list-group-item"><button class="login-button"(click)="onclick()">Login/Signup</button></li>
          </ul>
        </div>
      </div>
      <div class="login-modal" *ngIf="clicked3">
        <p class="cross" (click)="negateall()">X</p>
        <div class="container">
        <div class="desc44">
          <h3>Login</h3>
          <p>Get access to your Orders, Wishlist and Recommendations</p>
        </div>
        <div class="input-info">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
        <input type="email" formControlName="email" placeholder="Enter Email">
        <input type="password" formControlName="password" placeholder="Enter Password"><br>
        <p class="agreement">By continuing, you agree to Flipkart's <a href=""> Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
        <button type="submit" class="login-button2" [disabled]="!profileForm.valid">Login</button>
      </form>
      <p class="mt-5" (click)="signup()" style="cursor:pointer;color:#2874f0;text-align: center;">SignUp</p>
        </div>
        </div>
        </div>
        <div class="login-modal" *ngIf="clicked4">
            <p class="cross" (click)="negateall()">X</p>
            <div class="container">
            <div class="desc44">
              <h3>Signup</h3>
              <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <div class="input-info">
            <form [formGroup]="SignupForm" (ngSubmit)="Submit()">
            <input type="number" [formControl]="number" placeholder="Enter Number">
            <button type="submit" class="login-button2" [disabled]="!profileForm.valid">Request OTP</button>
          </form>
          <p class="mt-5" (click)="signup()" style="color:#2874f0;cursor:pointer;text-align: center;">Login</p>
            </div>
            </div>
            </div>