.row{
    padding-top:100px;
}
.c1{
    height:auto;
}
.cart-item{
    
    width:100%;
    box-shadow: 0 0 10px 0 lightgrey;
    display: flex;
    margin-top:20px;
}
.cart-item img{
    height:100px;
}
.buy-now{
    height:200px;
    width:100%;
    background:#fff;
    box-shadow: 0 0 10px lightgrey;
}