.row{
    padding-top:100px;
}
.c1{
    border:1px solid black;
    height:auto;
}
.cart-item{
    
    width:100%;
    box-shadow: 0 0 10px 0 lightgrey;
    display: flex;
}
.cart-item img{
    height:100px;
}
.buy-now{
    height:40px;
    width:100%;
    background:#fff;
    box-shadow: 0 0 10px lightgrey;
    text-align:end;
}