<div class="ancestor">
<div class="parent">
<div class="bg1">
    <div class="heading">
      <h3 style="color: #fff;font-size: 22px;">Flipkart</h3>
      <small style="color: #fff; ">Explore <strong style="color: yellow;">Plus</strong></small>
    </div>
    <div class="searchbox">
      <input type="text" placeholder="Search for products, brands and more">
    </div>
    </div>
    <div class="navelem">
      <ul class="list-group">
        <li class="list-group-item">Vivek</li>
        <li class="list-group-item">More</li>
        <li class="list-group-item">Cart</li>
      </ul>
    </div>
  </div>
  <div class="image-section">
    <div class="align-image" *ngFor="let img of image">
      <img [src]=img.url alt="" >
      <p>{{img.desc}}</p>
    </div>
  </div>
  <div class="image-slider">
    <ngb-carousel *ngIf="imageSlider">
      <ng-template ngbSlide *ngFor="let image of imageSlider">
        <div class="picsum-img-wrapper imgs2">
          <img [src]=image.img alt="Random first slide" height="300px;" width="100%">
        </div>
      </ng-template>
    </ngb-carousel>
  <div>  
  </div>