<div class="ancestor">
<div class="parent">
<div class="bg1">
    <div class="heading">
      <h3 style="color: #fff;font-size: 22px;">Flipkart</h3>
      <small style="color: #fff; ">Explore <strong style="color: yellow;">Plus</strong></small>
    </div>
    <div class="searchbox">
      <input type="text" placeholder="Search for products, brands and more">
      <img class="search-icon" [src]=icons.search alt="">
    </div>
    </div>

    <div class="navelem">
      <ul class="list-group">
        <li class="list-group-item">
         <div class="dropdown" (mouseenter)="isitClicked()">
           <button class="dropbtn">
             Vivek⮟
           </button>
           <div *ngIf="clicked" (click)="negate()" (mouseleave)="isitClicked()" class="pfix">
           <div class="dropdown-content" *ngFor="let data of dropdownContent">
             <a>{{data.content}}</a>
           </div>
          </div>
         </div>
        </li>
        <li class="list-group-item">More</li>
        <li class="list-group-item">Cart</li>
        <li class="list-group-item"><button class="login-button"(click)="onclick()">Login/Signup</button></li>
      </ul>
    </div>
  </div>
  <!-- Modal Starts here -->
  <div class="login-modal" *ngIf="clicked3">
    <div class="container">
    <div class="desc44">
      <h3>Login</h3>
      <p>Get access to your Orders, Wishlist and Recommendations</p>
    </div>
    <div class="input-info">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="email" [formControl]="email" placeholder="Enter Email">
    <input type="password" [formControl]="password" placeholder="Enter Password"><br>
    <p class="agreement">By continuing, you agree to Flipkart's <a href=""> Terms of Use</a> and <a href="">Privacy Policy</a>.</p>
    <button type="submit" class="login-button2" [disabled]="!profileForm.valid">Login</button>
    <p class="or">OR</p>
    <button class="OTP">Request OTP</button>
  </form>
    </div>
    </div>
    </div>
  <!-- Modal Ends Here --> 
  <div class="image-section">
    <div class="align-image"  style="margin-left: 150px;">
      <img [src]=image[0].url  alt="" >
      <p>{{image[0].desc}}</p>
    </div>
    <div class="align-image">
      <img [src]=image[1].url alt="" >
      <p>{{image[1].desc}}</p>
    </div>
    <div class="align-image"> 
      <img [src]=image[2].url alt="" >
      <p>{{image[2].desc}}</p>
      </div>
    <div class="align-image">
      <div class="dropdown" (mouseleave)="toggle()" (mouseenter)="toggle()">
      <img [src]=image[3].url alt="" >
      <p style="padding-top:2px;">{{image[3].desc}}</p>
        <div *ngIf="active" (click)="unactive()" class="pfix">
        <div class="dropdown-content2" *ngFor="let data of Fashion">
          <a>{{data.category}}</a>
        </div>
       </div>
      </div>
    </div>
    <div class="align-image">
      <div class="dropdown" (mouseleave)="toggle2()" (mouseenter)="toggle2()">
      <img [src]=image[4].url alt="" >
      <p style="padding-top:2px;">{{image[4].desc}}</p>
        <div *ngIf="active2" (click)="unactive2()" class="pfix">
        <div class="dropdown-content2" *ngFor="let data of Electronics">
          <a>{{data.category}}</a>
        </div>
       </div>
      </div>
    </div>
    <div class="align-image">
      <div class="dropdown" (mouseleave)="toggle3()" (mouseenter)="toggle3()">
      <img [src]=image[5].url alt="" >
      <p style="padding-top:2px;">{{image[5].desc}}</p>
        <div *ngIf="active3" (click)="unactive3()" class="pfix">
        <div class="dropdown-content2" *ngFor="let data of Electronics">
          <a>{{data.category}}</a>
        </div>
       </div>
      </div>
    </div>
    <div class="align-image">
      <div class="dropdown" (mouseleave)="toggle4()" (mouseenter)="toggle4()">
      <img [src]=image[6].url alt="" >
      <p style="padding-top:2px;">{{image[6].desc}}</p>
        <div *ngIf="active4" (click)="unactive4()" class="pfix">
        <div class="dropdown-content2" *ngFor="let data of Electronics">
          <a>{{data.category}}</a>
        </div>
       </div>
      </div>
    </div>
      <div class="align-image">
      <img [src]=image[7].url alt="" >
      <p>{{image[7].desc}}</p>
    </div>
      <div class="align-image">
      <img [src]=image[8].url alt="" >
      <p>{{image[8].desc}}</p>
    </div>
  </div>
  <div class="wrap">
    <button id="arrow-left" class="arrow" (click)="onPrevious()"[disabled]="this.counter===0" >&#x2190;
    </button>
    <div id="slider"[@animImageSlider]="counter">
      <div class="slide" *ngFor="let image of imageSlider; let i=index">
        <div class="slide-content" *ngIf="i===counter">
          <img [src]=image.img alt="Random first slide" height="100%" width="100%" style="background-size: cover;">
        </div>
      </div>
  </div>
  <button id="arrow-right" class="arrow"  (click)="onNext()"[disabled]="this.counter===this.imageSlider.length-1">&#x2192;</button>
  </div>
    <div class="image-slider3">
      <div class="upperdesc">
        <h3>Suggested For You</h3>
        <button>VIEW ALL</button>
      </div>
      <hr style="color: black; margin-top:10px" height="30px">
      <div class="containimgs">
        <div id="left-arrow2" class="arrow2"></div>
        <div id="right-arrow2" class="arrow2"></div>
       <section class="wrapimgs">
         <div class="z" *ngFor="let img of DealsOfTheDay">
           <img [src]=img.image alt="">
           <p style="font-weight: bold; font-size:16px;">{{img.brand}}</p>
           <p>{{img.Category}}</p>
           <p style="color: yellowgreen;">{{img.offer}}</p>
         </div>
       </section>
        </div>      
    </div>
  <div class="image-slider2" style="margin-top: 10px;">
    <div class="upperdesc">
    <h3>Deals of the Day</h3>
    <button>VIEW ALL</button>
  </div>
  <hr style="color: black; margin-top:10px" height="30px">
  <carousel [loop]="true" [cellsToScroll]="1" [margin]="30" [cellWidth]="200"  [lightDOM]="true" class="carousel--slider-alignment" style="height:300px; z-index:1;">
      
    <div class="carousel-cell"*ngFor="let img of DealsOfTheDay" style="margin: 10px;">
      <div class="card card-border-none" style="border: none;">
        <img class="card-img-top" [src]=img.image alt="">
        <div class="card-body">
          <h6 class="card-title">{{img.brand}}</h6>
          <p class="card-text" style="color: yellowgreen;">{{img.offer}}</p>
          <p class="card-text">{{img.Category}}</p>
        </div>
      </div>
    </div>
    
  </carousel>
  </div>
  </div>