<div class="ancestor">
<div class="parent">
<div class="bg1">
    <div class="heading">
      <h3 style="color: #fff;font-size: 22px;">Flipkart</h3>
      <small style="color: #fff; ">Explore <strong style="color: yellow;">Plus</strong></small>
    </div>
    <div class="searchbox">
      <input type="text" placeholder="Search for products, brands and more">
    </div>
    </div>
    <div class="navelem">
      <ul class="list-group">
        <li class="list-group-item">Vivek</li>
        <li class="list-group-item">More</li>
        <li class="list-group-item">Cart</li>
      </ul>
    </div>
  </div>
  <div class="image-section">
    <div class="align-image" *ngFor="let img of image">
      <img [src]=img.url alt="" >
      <p>{{img.desc}}</p>
    </div>
  </div>
  <div class="image-slider">
    <ngb-carousel *ngIf="imageSlider">
      <ng-template ngbSlide *ngFor="let image of imageSlider">
        <div class="picsum-img-wrapper imgs2">
          <img [src]=image.img alt="Random first slide" height="300px;" width="100%">
        </div>
      </ng-template>
    </ngb-carousel>
  <div>  
    <div class="image-slider2">
      <div class="upperdesc">
      <h3>Deals of the Day</h3>
      <button>VIEW ALL</button>
    </div>
    <hr style="color: black; margin-top:10px" height="30px">
    <carousel [loop]="true" [cellsToScroll]="1" [margin]="30" [cellWidth]="200" [objectFit]="'cover'" [lightDOM]="true" class="carousel--slider-alignment" style="height:300px">
        
      <div class="carousel-cell"*ngFor="let img of DealsOfTheDay" style="margin: 10px;">
        <div class="card card-border-none" style="border: none;">
          <img class="card-img-top" [src]=img.image alt="">
          <div class="card-body">
            <h6 class="card-title">{{img.brand}}</h6>
            <p class="card-text" style="color: yellowgreen;">{{img.offer}}</p>
            <p class="card-text">{{img.Category}}</p>
          </div>
        </div>
      </div>
      
    </carousel>
    </div>
    <div class="image-slider3">
      <div class="upperdesc">
        <h3>Suggested For You</h3>
        <button>VIEW ALL</button>
      </div>
      <hr style="color: black; margin-top:10px" height="30px">
      <carousel [loop]="true" [cellsToScroll]="1" [margin]="30" [cellWidth]="200" [objectFit]="'cover'" [lightDOM]="true" class="carousel--slider-alignment" style="height:250px">
        
        <div class="carousel-cell"*ngFor="let img of SuggestedForYou" style="margin:10px;">
          <div class="card card-border-none" style="border:none">
            <img class="card-img-top" [src]=img.image alt="">
            <div class="card-body">
              <h6 class="card-title">{{img.brand}}</h6>
              <p class="card-text" >{{img.offer}}</p>
            </div>
          </div>
        </div>
        
      </carousel>
      
  </div>
  </div>